[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/nguyenthikhanhly
[access "refs/for/refs/*"]
	read = group user/nguyenthikhanhly
	push = group user/nguyenthikhanhly
	label-Code-Review = -2..+2 group user/nguyenthikhanhly
	label-Verified = -1..+1 group user/nguyenthikhanhly
	rebase = group user/nguyenthikhanhly
	removeReviewer = group user/nguyenthikhanhly
	submit = group user/nguyenthikhanhly
[access "refs/heads/*"]
	read = group user/nguyenthikhanhly
	create = group user/nguyenthikhanhly
	push = +force group user/nguyenthikhanhly
	pushMerge = group user/nguyenthikhanhly
[access "refs/tags/*"]
	push = group user/nguyenthikhanhly
	push = +force group user/nguyenthikhanhly
